<% provide :title, t("pages.home.beauty") %>

<div class="row style-featured">
  <%= render @posts %>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <%= paginate @posts %>
  </div>
</div>
