<div id="report_form">
  <% if user_signed_in? %>
    <% if current_user.voted_down_on? post, vote_scope: "report" %>
      <%= t "reports.reported" %>
    <% else %>
      <%= link_to t("reports.report"), post_reports_path(post), method: :post, remote: true,
        data: {confirm: t("admin.posts.index.sure?")} %>
    <% end %>
  <% end %>
  <%= @post.get_downvotes(vote_scope: "report").size %>
</div>
