@import 'bootstrap-sprockets';
@import 'bootstrap';

$light-gray: #777;
$black: #111;
$dark-white: #f1f1f1;
$white: #fff;
$medium-gray: #555;
$light-black: #2d2d30;
$gray74: #bdbdbd;
$gray20: #333;
$medium-black: #29292c;
$black20: #000;
$white20: #d5d5d5;
$white-smoke: #f5f5f5;
$noti-not-read: #e9ebee;
$noti-not-read-hover: #f6f7f9;

body {
  color: $light-gray;
}

h3,
h4 {
  color: $black;
  font-size: 20px;
  letter-spacing: 10px;
  margin: 10px 0 30px;
}

.container {
  padding: 80px 120px;
}

.person {
  border: 10px solid transparent;
  height: 80%;
  margin-bottom: 25px;
  opacity: .8;
  width: 80%;

  &:hover {
    border-color: $white;
  }
}

.carousel-inner img {
  margin: auto;
  width: 100%;
}

.carousel-caption h3 {
  color: $white !important;
}

@media (max-width: 600px) {
  .carousel-caption {
    display: none;
  }
}

.bg-1 {
  background: $light-black;
  color: $gray74;
}

.bg-1 h3 {color: $white;}

.bg-1 p {font-style: italic;}

.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.list-group-item:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.thumbnail {
  border: 0;
  border-radius: 0;
  padding: 0 0 15px;

  p {
    color: $medium-gray;
    margin-top: 15px;
  }
}

.btn {
  background-color: $gray20;
  border-radius: 0;
  color: $white;
  padding: 10px 20px;
  transition: .2s;
}

.btn:hover,
.btn:focus {
  background-color: $white;
  border: 1px solid $gray20;
  color: $black20;
}

.modal-header,
h4,
.close {
  background-color: $gray20;
  color: $white !important;
  font-size: 30px;
  text-align: center;
}

.modal-header,
.modal-body {
  padding: 40px 50px;
}

.nav-tabs li a {
  color: $light-gray;
}

.navbar {
  background-color: $light-black;
  border: 0;
  font-family: Montserrat, sans-serif;
  font-size: 11px !important;
  letter-spacing: 4px;
  margin-bottom: 0;
  opacity: .9;
}

.navbar li a,
.navbar .navbar-brand {
  color: $white20 !important;
}

.navbar-nav li a:hover {
  color: $white !important;
}

.navbar-nav .active a {
  background-color: $medium-black !important;
  color: $white !important;
}

.navbar-default
.navbar-toggle {
  border-color: transparent;
}

.open .dropdown-toggle {
  background-color: $medium-gray !important;
  color: $white;
}

.dropdown-menu li a {
  color: $black20 !important;

  &:hover {
    background-color: $medium-black !important;
  }
}

footer {
  background-color: $light-black;
  color: $white-smoke;
  padding: 32px;

  a {
    color: $white-smoke;

    &:hover {
      color: $light-gray;
      text-decoration: none;
    }
  }
}

.form-control {
  border-radius: 0;
}

textarea {
  resize: none;
}

@mixin background-tile {
  box-sizing: border-box;
  background-color: $white;
  border: 1px solid $black;
  border-radius: 5px;
  padding: 1em 1.05em;
}

h1,
h2 {
  color: $black;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  letter-spacing: 10px;
}

.btn-custom {
  background-color: $white;
  border: 1px solid darken($gray20, 5%);
  border-radius: 5px;
  color: darken($gray20, 5%);
  font-family: "Ubuntu", sans-serif;

  &:hover {
    background-color: darken($gray20, 5%);
    color: $white;
    padding: 8px 20px;
    text-decoration: none;
    transition: .5s;
  }
}

.btn-custom2 {
  background-color: $white;
  border: 1px solid $black;
  border-radius: 5px;
  color: $gray20;
  font-family: "Ubuntu", sans-serif;
  padding: 8px 20px;

  &:hover {
    background-color: $gray20;
    color: $white;
    text-decoration: none;
    transition: .5s;
  }
}

.links {

  .btn-custom {
    font-weight: 300;
    padding: 3px 10px;
  }
}

.post-links {

  .btn-custom {
    font-weight: 300;
    margin-top: 40px;
    padding: 3px 10px;
  }
}

.show {
  border-bottom: 1px solid $white20;
  padding: 15px 0;

  .post-show {
    @include background-tile;
    height: 300px;
    width: 325px;
  }
}

.post-image {
  @include background-tile;
  height: 400px;
  margin-bottom: 20px;
  width: 300px;
}

.post {
  @include background-tile;

  .post-title {
    font-size: 2em;
    margin-top: 0;
  }

  .post-content {
    border-bottom: 1px solid $white20;
    border-top: 1px solid $white20;
    font-size: 1.05em;
    line-height: 1.5;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 10px 0;
  }

  .timestamp {
    color: $light-gray;
    font-size: 12px;
  }
}

.post-form {
  @include background-tile;
}

.new-review-form,
.edit-review-form {
  @include background-tile;
}

.reviews {
  @include background-tile;
  margin-top: 40px;

  .review {
    border-bottom: 1px solid $white20;
    margin-bottom: 15px;
    padding-bottom: 10px;
  }
}

.image-edit-profile {
  height: 300px;
  width: 100%;
}

.notification-dropdown li {
  border-bottom: 1px solid $light-gray;
  height: 25px;

  &:last-child {
    border-bottom: 0;
  }
}

.notification input {
  background: $white;
  border: 0;
}

.unread {
  background-color: $noti-not-read;

  a:hover,
  a:focus,
  a:active {
    background-color: $noti-not-read-hover;
  }
}

.scroll {
  height: 450px;
  overflow: scroll;
  width: 400px;
}
