<div class="shika-bar">
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
      <li>
        <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
      </li>
      <li>
        <%= link_to t("admin.users.index.users"), admin_users_path %>
      </li>
      <li>
        <%= link_to t("admin.users.index.posts"), admin_posts_path %>
      </li>
    </ul>
  </div>
</div>
