<footer class="text-center row">
  <a class="up-arrow" href="#myPage" data-toggle="tooltip"
    title= "<%= t "layouts.footer.to_top" %>" >
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a><br><br>
  <p><%= t "layouts.footer.slogan" %></p>
</footer>
